<div class="card-category-small" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= image_path('background/back-small.jpg') %>)">
</div>

<div class="navbar-lewagon">
   <div class="navbar-lewagon-actions d-none d-sm-flex">

     <%= link_to "Back to all", cocktails_path(@cocktails), class: "btn-ghost-dark" %>
   </div>
 </div>

<div class="container">

    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= cl_image_path @cocktail.photo, height: 700, width: 600, crop: :fill %>)">
      <li>
        <h1>Name - <%= @cocktail.name %></h1>
        <!-- </div> -->
          <%= simple_form_for [@cocktail, @dose] do |f| %>
            <%= f.label :description %>
            <%= f.text_field :description %>
            <%= f.association :ingredient %>
            <%= f.submit %>
          <% end %>
          </li>
      <!-- </div> -->
  </div>
</div>




